#beforeleave-modal {
  display: none;
}

#beforeleave-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
}

#beforeleave-dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1000001;
}

#beforeleave-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#beforeleave-dialog-close {
  cursor: pointer;
}

#beforeleave-dialog-textarea {
  width: 400px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}

#beforeleave-dialog-footer {
  display: flex;
  justify-content: flex-end;
}

#beforeleave-dialog-submit {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

#beforeleave-dialog-submit:disabled {
  cursor: not-allowed;
  background-color: #eee;
}

#beforeleave-dialog-submit:hover {
  background-color: #ddd;
}

#beforeleave-dialog-submit:active {
  background-color: #bbb;
}
